version: "3.9"

services:
  app:
    build:
      context: ./domains
      dockerfile: Dockerfile
    container_name: eventbudget_app
    working_dir: /var/www
    volumes:
      - ./domains:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: eventbudget_frontend
    working_dir: /app
    volumes:
      - ./web:/app
      - /app/node_modules
      - /app/.nuxt
    environment:
      NUXT_HOST: "0.0.0.0"
      NUXT_PORT: "3000"
      CHOKIDAR_USEPOLLING: "true"
      NITRO_POLLING_INTERVAL: "100"
    ports:
      - "3000:3000"
    networks:
      - app-network

  db:
    image: mysql:8
    container_name: eventbudget_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: eventbudget
      MYSQL_USER: eventbudget
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
