vendor
node_modules

storage
public/storage

.env
.env.backup
.env.production

public/hot
public/build

.DS_Store
Thumbs.db
.phpunit.result.cache
.phpactor.json

/.idea
/.vscode
/.phpunit.cache
/.zed
/.fleet

/auth.json
Homestead.json
Homestead.yaml
